body {background-color:#282828;}
h1 {color:#FEA10B;}
h4 {color:#FEA10B;text-decoration:underline;
text-decoration-style:dotted;}
p {color:#CBBD9C;}

a:link {
  color:#92911A;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:#FF2F88;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:#FB5F0F;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


